$primary-color: #C25959;
$completed-color: #24B651;
$uncompleted-color: #7A7EA0;
$border-color: #c2c2c2;
$white-background: #FFFFFF;
$error-color: #F03E01;
$black: black;
$background: #F8F9FB;
$title: #333;
